header{
    background-color: $background-header;
    nav{
        color: $fontsize-w;
        font-family: 'Tilt Warp', cursive;
        font-size: 30px;
        margin: auto 30px;
    }
    div{
    img{
        width: 150px;
    }
}
    li{
        float: left;
        list-style: none;
        margin-left: 5px;
    }
    a{
        color: $fontsize-w;
        text-decoration: none;
    }
}
.header{
    color: $fontsize-w;
    font-family: 'Tilt Warp', cursive;
    font-size: 30px;
    margin: 0 30px;
}
